@font-face {
	font-family: "Blood";
	src: url('../polices/Blood-Thirst.ttf');
}

@font-face {
	font-family: "Schwifty";
	src: url('../polices/get-schwifty.ttf');
}

$Nosifer: 'Nosifer', sans-serif;

$Blood: 'Blood' , sans-serif;
$Schwifty: 'Schwifty' , sans-serif;

$duration: 0.3;
$colorOrange: #EF5A31;


