// VARIABLES
$duration: .3s;

@import './variables';
@import './mixin';
@import './modules/navbar';
@import './modules/card';
@import './modules/modal';
@import '../lieux/scss/lieux';
@import '../episode/scss/episode';
@import '../personnage/scss/personnage';


body{
    font-family: $Schwifty;
    font-size: 16px;
    line-height: 1.4;
    max-width: 1200px;
    margin: 0 auto;
}
