
.wrapper_personnage {
  .radios {
    width: 400px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: #fff;
    position: relative;
  }

  .app_lists{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
    justify-content: space-around; 
    
    .card img{
      height: auto;
      width: 100%;
      border-radius: 10px 10px 0 0;
    }

    .card__header{
      h2{
        height: 70px;
        cursor: pointer;
      }
    }
  }
}
