.cardV3{
  
  .card{
    width: 300px;
    max-width: 100%;
    text-align: center;
    border-radius: 12px;  
    background: white;
    border: 1px solid #d4d4d4;
    margin-bottom: 20px;
  }
  .card header {
    background-image: url('https://images.unsplash.com/photo-1616268177838-f524156bb98d?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNjYyMTQ1NQ&ixlib=rb-1.2.1&q=80&w=400');
    height: 120px;
    border-radius: 12px 12px 0 0;
    margin-bottom: 140px;
  }
  .card header img {
    margin: 70px 40px 10px 40px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 6px solid white;
    border-radius: 5px 5px;
  }
  .card header p {
    color: #444;
    font-size: 18px;
    font-weight: 300;
  }
  .card_body{
    margin-top: 60px;
  }
  .card_body ul.social{
    display: flex;
    list-style: none;  
    margin-bottom: 40px;
    justify-content: space-around;
  }
  .card_body ul.social li{
    cursor: pointer;
  }
  .card_body li h3 {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
  }
  .card_body li p{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  
  .card_body li.twitter:hover{
    color: #1DA1F2;
  }
  .card_body li.facebook:hover{
    color: #4267B2;
  }
  .card_body li.instagram:hover{
    color: #405DE6;
  }
}