

.wrapper_episode{
    .radios{
        width: 400px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        color: #fff;
        position: relative;
        input{
            cursor: pointer;
        }
    }

    .app_lists{
        h2{
            color: #c74f43;
            font-size: 2em;
            border-bottom: 2px dashed;
            font-family: "Nosifer", sans-serif;
            margin: 50px 0;
        }
    }
}

.modal{
    .card{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 2;
    // background-color: #880808;
    background: url("https://wallpapercave.com/wp/wp3277700.jpg") no-repeat;
    background-size: cover;
    z-index: 4;
  }
  
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    justify-content: center;
    .deck{
        transform: translateX(-20px);
        transition: all 0.3s ease-in-out;
        opacity: 0; 
        &.is-showing {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .back{
        li{

        }
        img{
            width: 100%;
            height: auto;
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }
    }
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }